/*universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* removed header and left as element selector for h1 as there is only 1 instance of it */
h1 {
    display: inline-block;
    font-size: 48px;
}
/* changed Class to id Seo, used to changed the color of soa in the header */
#seo 
{
    color: #d9dcd6;
}
/* renamed to navigationbar */
.navigationbar {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* renamed to nav for nav-bar*/
.nav {
    list-style-type: none;
}
/* renamed to nav-bar-options*/
.nav-bar-options {
    display: inline-block;
    margin-left: 25px;
}
/* id's created for each use of a */
a {
    color: #ffffff;
    text-decoration: none;
}
/* id's created for each use of p */
p {
    font-size: 16px;
}
/* changed "hero" to an id instead of class and renamed to background-image, removed url and added to index.html file*/
#background-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* added color to benefits, this affects benefits-sub */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}
/* created class benefits-sub to replace -lead, -brand, and -cost, affects the sub catagories within benefits */
.benefits-sub {
    margin-bottom: 32px;
}
/* created class benefits-heading to replace -lead, -brand, and -cost, affects the headings within benefits section*/
.benefits-heading {
    margin-bottom: 10px;
    text-align: center;
}
/* created class benefits-img to replace -lead, -brand, and -cost, affects the images within benefits section */
.benefits-img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* created class content-subcatagories to replace search-engine optimization, online-reputation-managment, and
social-media-marketing, */ 
.content-subcatagories {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* created class subcatagory-img to replace search-engine optimization img, online-reputation-managment img, and
social-media-marketing img, affectes the images within subcatagory */ 
.subcatagory-img {
    max-height: 200px;
}
/* created class content-h2 to replace search-engine-optimization h2, online-reputation-managment h2, and
social-media-marketing h2, affectes the headings within subcatagory */ 
.content-h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
